.yui-panel-container {
	position: absolute;
	top: 10em;
	left: 50%;
	margin-left: -250px;
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 110%;
}
.mask {
	z-index: 1;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*.yui-skin-sam .mask {
	background-color: #000;
	opacity: .25;
	filter: alpha(opacity=25);
}*/

.yui-panel-container.shadow .underlay.yui-force-redraw {
	padding-bottom: 1px;
}
.yui-panel-container .container-close {
	overflow: hidden;
	text-indent: -10000em;
	text-decoration: none;
}
.yui-skin-sam .container-close {
	position: absolute;
	top: 5px;
	right: 6px;
	width: 25px;
	height: 15px;
	cursor: pointer;
}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw {
	margin-bottom: 1px;
}
.yui-skin-sam .yui-dialog .ft .button-group {
	display: block;
	text-align: right;
	background-color: inherit !important;
}
.yui-skin-sam .yui-panel {
	position: relative;
	left: 0;
	top: 0;
	border:3px solid #F5F7F7;
	z-index: 1;
	*border-width: 1px;
	*zoom: 1;
	_zoom: normal;
	-moz-box-shadow: 0em 0em 5px #000;
	-webkit-box-shadow: 0em 0em 5px #000;
	box-shadow: 0em 0em 5px #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	max-height: 500px;
	width: 500px;
}
.browserVer_2.browser_firefox.yui-skin-sam .yui-panel, .browserVer_3.browser_firefox.yui-skin-sam .yui-panel {
	border-color: #ccc;
}
.yui-skin-sam .yui-panel-container.shadow .underlay {
	display: none;
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	*top: 2px;
	*left: -1px;
	*right: -1px;
	*bottom: -1px;
	_top: 0;
	_left: 0;
	_right: 0;
	_bottom: 0;
	_margin-top: -1px;
	_margin-left: -1px;
	background-color: #000;
	opacity: .2;
	filter: alpha(opacity=2);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.browser_firefox.browserVer_2 .underlay {
	display: block !important;
}
.yui-skin-sam .yui-panel .hd, .yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft {
	border: none;
	margin: 0 -1px;
	*margin: 0;
	*border: 0;
}
.yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft {
	background-color: #fff;
}
.yui-skin-sam .yui-panel .hd {
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	/*font-size:2.5em; TDS-643 setting a lower default font size because zoom-level classes are sometimes absent*/
	font-size: 1.2em;
	line-height:1.6em;
	color: #666;
	border-bottom:solid 1px #CCCCCC;
	background-image: none;
	background-color: #F5F7F7;
}
.yui-skin-sam .warning .hd {
	padding-left: 40px;
	background: #F5F7F7 url("../../Images/alerts/alert.png") no-repeat left center !important;
}
.yui-skin-sam .yui-panel .bd {
	padding: 10px;
	font-size: 1.3em;
}
.yui-skin-sam .yui-panel .ft {
	padding: 10px;
}
 .yui-skin-sam .yui-button a:active {
	outline: none !important;
}

#yuiProgressDialog {
	width: 500px !important;
	/*margin-right: -200px;*/
}
#yuiProgressDialog .hd{
	font-size: 1.5em;
}
.TDS_PS_Largest #yuiProgressDialog .hd, .TDS_PS_Largest #yuiProgressDialog .bd {
	position: relative;
}
#yuiSimpleDialog {
	width: 600px !important;
	/*margin-left: -300px;*/
}
.unproctored #accPrintonRequest {
	display: none;
}

/* @ custom progress loading style */
#loadingDialog {
	display:none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 999;
	background-color: rgba(146,146,146,0.5);
}
#loadingDialog .border {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	max-height: inherit;
	border-radius: inherit;
}
#loadingDialog .container,
#yuiProgressDialog .bd,
#testApprovalProgress:before,
.yui-panel-container.yui-panel-loading .yui-panel-mask::before  {
	position: fixed;
	background-color: rgba(46,46,46,0.2);
	text-indent: -9999px;
	display: block;
	z-index: 11;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -35px;
	padding: 0px;
	border-bottom: 6px solid rgba(255, 255, 255, .6);
	border-left: 6px solid rgba(255, 255, 255, .6);
	border-right: 6px solid rgba(255, 255, 255, .6);
	border-top: 6px solid rgba(255, 255, 255, 1);
	border-radius: 100%;
	height: 50px;
	width: 50px;
	-moz-animation: spinme .6s infinite linear;
	-webkit-animation: spinme .6s infinite linear;
	animation: spinme .6s infinite linear;
}
@-moz-keyframes spinme {
  from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}
@-webkit-keyframes spinme {
  from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}
@keyframes spinme {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}
#loadingMessage.bd {
	max-width: 400px;
	height: auto;
	position: static;
	background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
	border: solid 1px #d4f4ff;
	margin: 155px 0px 0px 2px;
	-moz-box-shadow: 0em 0em 3px #666;
	-webkit-box-shadow: 0em 0em 3px #666;
	box-shadow: 0em 0em 3px #666;
}
#loadingMessage.bd:empty {
	display: none;
}
.TDS_PS_L1 #loadingMessage.bd {
	font-size: 1.5em;
}
.TDS_PS_L2 #loadingMessage.bd {
	font-size: 2em;
}
.TDS_PS_L3 #loadingMessage.bd {
	font-size: 2.5em;
}
.TDS_PS_L4 #loadingMessage.bd {
	font-size: 3em;
}
.TDS_PS_L5 #loadingMessage.bd {
	font-size: 5em;
	max-width: 90%;
	margin: 0px;
}
.TDS_PS_L5 #loadingDialog .container {
	top: 25%;
}
.TDS_PS_L6 #loadingMessage.bd {
	font-size: 10em;
	max-width: 90%;
	margin: 0px;
}
.TDS_PS_L6 #loadingDialog .container {
	top: 20%;
}
.TDS_PS_L7 #loadingMessage.bd {
	font-size: 15em;
	max-width: 90%;
	margin: 0px;
}
.TDS_PS_L7 #loadingDialog .container {
	top: 15%;
}
.TDS_PS_L8 #loadingMessage.bd {
	font-size: 20em;
	max-width: 90%;
	margin: 0px;
}
.TDS_PS_L8 #loadingDialog .container {
	top: 10%;
}
#loadingDialog .ft a {
	display: block;
	float: right;
	border: solid 1px #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	color: #000;
	text-decoration: none;
}
#loadingDialog .ft a:focus, #loadingDialog .ft a:active, #loadingDialog .ft a:hover {
	text-decoration: underline;
	border-color: #2765b4;
	background-color: #f9fbfb;
}
.showingLoading #loadingDialog {
	display:block;
}

/* new spinner */
.yui-skin-sam .mask {
	background-color: dimgray; /* ORIGINAL: #eceeee */
	opacity: .25;
	filter: alpha(opacity=25);
}
#yuiProgressDialog_c #yuiProgressDialog {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -25px !important;
	margin-left: -25px !important;
	height: 50px !important;
	width: 50px !important;
	background-image: none !important;
	background-color: transparent !important;
	border: none !important;
	-moz-box-shadow: inherit;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}
#yuiProgressDialog * {
	display: none;
}

/* mask out a panel while it is loading */
.yui-panel-container.yui-panel-loading .yui-panel-mask::before {
		position: absolute;
		content: '';
}
div.yui-panel-container.yui-panel-loading div.yui-panel-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9fbfb;
}

div#tools div.tool {
    width: 600px;
    height: 600px;
}
/* help guide resizes now ====
	div#tools div.tool-helpguide {
	width: 720px;
	height: 620px !important;
}
.TDS_PS_L0 div#tools div.tool-helpguide {
	width: 720px !important;
}
.TDS_PS_L1 div#tools div.tool-helpguide {
	width: 820px !important;
}
.TDS_PS_L2 div#tools div.tool-helpguide, .TDS_PS_L3 div#tools div.tool-helpguide, .TDS_PS_L4 div#tools div.tool-helpguide {
	width: 900px !important;
}*/
div#tools div.tool iframe {
  overflow: auto;
	display:block;
}
/*.yui-skin-sam .container-close {
    background: url(../../Images/close.png) no-repeat scroll center center;
    cursor: pointer;
    height: 1.5em;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 1.5em;
    border: solid 1px #999;
    -moz-border-radius: 3px;
	border-radius: 3px;
}
.yui-skin-sam .container-close:hover {
    background-color: #fff !important;
    border-color: #fff !important;
}*/

.yui-skin-sam .container-close {
    color: #000000;
    display: block;
    float: right;
    height: 25px;
    width: 25px;
    overflow: hidden;
    text-indent: -9999px;
    line-height: 25px;
    margin-top: -5px;
    text-decoration: none;
	background: url(../Images/modern/sprites_mobile_0.png) center -2730px no-repeat;
}
.yui-skin-sam .container-close:hover,
.yui-skin-sam .container-close:active,
.yui-skin-sam .container-close:focus {
	background-position: center -2831px;
	text-decoration:underline;
	color: #FFFFFF;
}


.TDS_PS_L1.yui-skin-sam .container-close {
    right: 6px;
    top: 6px;
}
.TDS_PS_L2.yui-skin-sam .container-close, .TDS_PS_L3.yui-skin-sam .container-close, .TDS_PS_L4.yui-skin-sam .container-close {
    right: 10px;
    top: 10px;
}
.TDS_PS_L0.yui-skin-sam .yui-panel .hd {
	font-size: 1.4em;
}
.TDS_PS_L1.yui-skin-sam .yui-panel .hd {
	font-size: 1.4em;
}
.TDS_PS_L2.yui-skin-sam .yui-panel .hd, .TDS_PS_L3.yui-skin-sam .yui-panel .hd, .TDS_PS_L4.yui-skin-sam .yui-panel .hd {
	font-size: 1.5em;
}

#globalAccDialog .singleselect {
	margin-bottom: .5em;
	padding-bottom: .5em;
	border-bottom: solid 1px #ccc;
}

/* @group TDS style buttons */

.yui-skin-sam .yui-panel .ft {
    padding: 5px;
}
.ft .button-group {
    display: block;
    font-size: 1em;
    height: 2em;
    padding-bottom: 5px;
}
.ft .button-group .yui-button {
	display: block;
	float: left;
	border: 1px solid #0E4878;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	text-decoration: none;
	line-height: 2em;
	padding: 0px;
	margin-right: .5em;
	background-image: none !important;
	/* prevent buttons from breaking out of dialog boxes*/
	max-width: 50%;
	overflow: hidden;
}
.ft .button-group .yui-button span {
	display: block;
	float: left;
	border: none !important;
	line-height: inherit;
	padding: 0px;
	margin-right: 0px;
}
.ft .button-group button {
	border: none;
    display: block;
    margin: 0px;
    background-color: transparent;
    cursor: pointer;
    color: #000000;
    font-size: 93%;
    line-height: 2em;
    min-height: 2em;
    padding: 0px 1em;
    -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.ft .button-group button:hover, .yui-button.yui-push-button-focus button, .yui-button.yui-push-button-focus button:focus {
	background-color: #0E4878 !important;
	color: #fff !important;
}

/* @end */

/* @group TTS buttons */
.ttsHelpSpeakButtonClass, .ttsHelpStopSpeakButtonClass {
	position: absolute;
	height: 1.5em;
	width: 1.5em;
	border-color: #999999 !important;
	top: 3px;
	right: 45px;
	overflow: hidden;
	display: block;
}

.ttsHelpSpeakButtonClass:hover, .ttsHelpStopSpeakButtonClass:hover {
	border-color: #fff !important;
}
.ttsHelpSpeakButtonClass.disabled:hover, .ttsHelpStopSpeakButtonClass.disabled:hover {
	border-color: #999999 !important;
	background-color: transparent !important;
}
.ttsHelpSpeakButtonClass {
	right: 80px;
}
.ttsHelpSpeakButtonClass button, .ttsHelpStopSpeakButtonClass button {
	color: #000;
	text-decoration: none;
	width: 18px;
	height: 18px;
	text-indent: -9999px;
	background: url(../Images/controls/audio2010.png) no-repeat -503px -412px;
	margin-left: 2px;
	overflow: hidden;
}
.ft .button-group .ttsHelpSpeakButtonClass button:hover {
	background-position: -533px -412px;
	background-color: #fff !important;
}
.ttsHelpSpeakButtonClass.disabled button, .ttsHelpSpeakButtonClass.disabled button:hover {
	background-position: -503px -439px !important;
	background-color: transparent !important;
	cursor: default;
}
.ttsHelpStopSpeakButtonClass button {
	background-position: -563px -412px;
}
.ft .button-group .ttsHelpStopSpeakButtonClass button:hover {
	background-position: -593px -412px;
	background-color: #fff !important;
}
.ttsHelpStopSpeakButtonClass.disabled button, .ttsHelpStopSpeakButtonClass.disabled button:hover {
	background-position: -563px -439px !important;
	background-color: transparent !important;
	cursor: default;
}

.ft .button-group .ttsHelpSpeakButtonClass button:focus, .ft .button-group .ttsHelpStopSpeakButtonClass button:focus {
	background-color: #0E4878 !important;
	outline: none !important;
}
.ft .button-group .ttsHelpSpeakButtonClass.disabled button:focus, .ft .button-group .ttsHelpStopSpeakButtonClass.disabled button:focus {
	background-color: transparent !important;
}

.ft .hasTTS, .ft .noTTS {
	display: none;
}
.ft.hasTTS .hasTTS {
	display: inline;
	color: #4A996D;
	font-weight: bold;
}
.ft.noTTS .noTTS {
	display: inline;
	font-weight: bold;
	color: #AD1A00;
}
.noTTS .button-group, .hasTTS .button-group{
	float: right;
}



/* @group TTS help buttons */

#tools .ttsHelpSpeakButtonClass button {
	background-position: -506px -415px;
}
.TDS_PS_L1 #tools .ttsHelpSpeakButtonClass button {
	background-position: -504px -413px;
}
.TDS_PS_L2 #tools .ttsHelpSpeakButtonClass button, .TDS_PS_L3 #tools .ttsHelpSpeakButtonClass button, .TDS_PS_L4 #tools .ttsHelpSpeakButtonClass button {
	background-position: -502px -411px;
}
#tools .ft .button-group .ttsHelpSpeakButtonClass button:hover {
	background-position: -536px -415px;
}
.TDS_PS_L1 #tools .ft .button-group .ttsHelpSpeakButtonClass button:hover {
	background-position: -534px -413px;
}
.TDS_PS_L2 #tools .ft .button-group .ttsHelpSpeakButtonClass button:hover, .TDS_PS_L3 #tools .ft .button-group .ttsHelpSpeakButtonClass button:hover, .TDS_PS_L4 #tools .ft .button-group .ttsHelpSpeakButtonClass button:hover {
	background-position: -532px -411px;
}
#tools .ttsHelpSpeakButtonClass.disabled button, #tools .ttsHelpSpeakButtonClass.disabled button:hover {
	background-position: -505px -442px !important;
}
.TDS_PS_L1 #tools .ttsHelpSpeakButtonClass.disabled button, #tools .TDS_PS_L1 .ttsHelpSpeakButtonClass.disabled button:hover {
	background-position: -504px -440px !important;
}
.TDS_PS_L2 #tools .ttsHelpSpeakButtonClass.disabled button, #tools .TDS_PS_L2 .ttsHelpSpeakButtonClass.disabled button:hover, .TDS_PS_L3 #tools .ttsHelpSpeakButtonClass.disabled button, #tools .TDS_PS_L3 .ttsHelpSpeakButtonClass.disabled button:hover, .TDS_PS_L4 #tools .ttsHelpSpeakButtonClass.disabled button, #tools .TDS_PS_L4 .ttsHelpSpeakButtonClass.disabled button:hover {
	background-position: -502px -437px !important;
}
#tools .ttsHelpStopSpeakButtonClass button {
	background-position: -566px -415px;
}
.TDS_PS_L1 #tools .ttsHelpStopSpeakButtonClass button {
	background-position: -564px -413px;
}
.TDS_PS_L2 #tools .ttsHelpStopSpeakButtonClass button, .TDS_PS_L3 #tools .ttsHelpStopSpeakButtonClass button, .TDS_PS_L4 #tools .ttsHelpStopSpeakButtonClass button {
	background-position: -562px -411px;
}
#tools .ft .button-group .ttsHelpStopSpeakButtonClass button:hover {
	background-position: -596px -415px;
}
.TDS_PS_L1 #tools .ft .button-group .ttsHelpStopSpeakButtonClass button:hover {
	background-position: -594px -413px;
}
.TDS_PS_L2 #tools .ft .button-group .ttsHelpStopSpeakButtonClass button:hover, .TDS_PS_L3 #tools .ft .button-group .ttsHelpStopSpeakButtonClass button:hover, .TDS_PS_L4 #tools .ft .button-group .ttsHelpStopSpeakButtonClass button:hover {
	background-position: -592px -411px;
}
#tools .ttsHelpStopSpeakButtonClass.disabled button, #tools .ttsHelpStopSpeakButtonClass.disabled button:hover {
	background-position: -565px -442px !important;
}
.TDS_PS_L1 #tools .ttsHelpStopSpeakButtonClass.disabled button, .TDS_PS_L1 #tools .ttsHelpStopSpeakButtonClass.disabled button:hover {
	background-position: -564px -440px !important;
}
.TDS_PS_L2 #tools .ttsHelpStopSpeakButtonClass.disabled button, .TDS_PS_L2 #tools .ttsHelpStopSpeakButtonClass.disabled button:hover, .TDS_PS_L3 #tools .ttsHelpStopSpeakButtonClass.disabled button, .TDS_PS_L3 #tools .ttsHelpStopSpeakButtonClass.disabled button:hover, .TDS_PS_L4 #tools .ttsHelpStopSpeakButtonClass.disabled button, .TDS_PS_L4 #tools .ttsHelpStopSpeakButtonClass.disabled button:hover {
	background-position: -562px -437px !important;
}

/* changed style of buttons, no longer needed---
.TDS_PS_L1 .ttsHelpSpeakButtonClass, .TDS_PS_L1 .ttsHelpStopSpeakButtonClass {
	top: 6px;
}
.TDS_PS_L2 .ttsHelpSpeakButtonClass, .TDS_PS_L2 .ttsHelpStopSpeakButtonClass, .TDS_PS_L3 .ttsHelpSpeakButtonClass, .TDS_PS_L3 .ttsHelpStopSpeakButtonClass, .TDS_PS_L4 .ttsHelpSpeakButtonClass, .TDS_PS_L4 .ttsHelpStopSpeakButtonClass {
	top: 10px;
}*/

.TDS_PS_L1 div#tools div.tool-helpguide .container-close, .TDS_PS_L1 #tools .ttsHelpStopSpeakButtonClass, .TDS_PS_L1 #tools .ttsHelpSpeakButtonClass {
	width: 25px;
	height: 25px;
}
.TDS_PS_L2 div#tools div.tool-helpguide .container-close, .TDS_PS_L2 #tools .ttsHelpStopSpeakButtonClass, .TDS_PS_L2 #tools .ttsHelpSpeakButtonClass, .TDS_PS_L3 div#tools div.tool-helpguide .container-close, .TDS_PS_L3 #tools .ttsHelpStopSpeakButtonClass, .TDS_PS_L3 #tools .ttsHelpSpeakButtonClass, .TDS_PS_L4 div#tools div.tool-helpguide .container-close, .TDS_PS_L4 #tools .ttsHelpStopSpeakButtonClass, .TDS_PS_L4 #tools .ttsHelpSpeakButtonClass {
	width: 30px;
	height: 30px;
}

#tools .tool-helpguide .ttsHelpSpeakButtonClass, #tools .tool-helpguide .ttsHelpStopSpeakButtonClass {
	border: none !important;
}
#tools .tool-helpguide .button-group button:hover,
#tools .tool-helpguide .button-group button:active,
#tools .tool-helpguide .button-group button:focus {
	background-color: transparent !important;
}


/* @end */
/* @end */


/* Not sure why this was here but it looks like it is causing Bug 148237*/
/*.platform_android #tools .ttsHelpSpeakButtonClass button, */
.platform_android #tools .container-close {
	margin-top: -4px;
}


/*Fix for bug 121538 - we gotta have this CSS on these things if they are going to work on iPad*/
.tool-dictionary-container .bd{
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* restyle drag handles to be more visible/finger friendly */
.yui-panel.yui-resize .yui-resize-hover,
.yui-panel.yui-resize .yui-resize-handle {
		opacity: 1;
		-moz-transition: background-color .2s ease-in;
	  -webkit-transition: background-color .2s ease-in;
	  transition: background-color .2s ease-in;
}
.yui-panel.yui-resize .yui-resize-handle:hover {
    background-color: #00aeef;
}
.yui-panel.yui-resize .yui-resize-handle-r,
.yui-panel.yui-resize .yui-resize-handle-b,
.yui-panel.yui-resize .yui-resize-handle-br {
    -moz-box-shadow: 0em 0em 5px #ccc;
		-webkit-box-shadow: 0em 0em 5px #ccc;
		box-shadow: 0em 0em 5px #ccc;
		background-color: #F5F7F7;
}
.yui-panel.yui-resize .yui-resize-handle-r {
    width: 10px;
    right: -10px;
		-webkit-border-radius: 0 5px 0 0;
		border-radius: 0 5px 0 0;
}
.yui-skin-sam .yui-panel.yui-resize .yui-resize-handle-inner-r {
    background-position:2px -5px;
    width: 10px;
}
.yui-panel.yui-resize .yui-resize-handle-b {
    height: 10px;
    bottom: -10px;
		-webkit-border-radius: 0 0 0 5px;
		border-radius: 0 0 0 5px;
}
.yui-skin-sam .yui-panel.yui-resize .yui-resize-handle-inner-b {
    background-position: -20px 2px;
    height: 10px;
}

.yui-panel.yui-resize .yui-resize-handle-br {
    bottom: -10px;
		right: -10px;
		height: 10px;
		width: 10px;
}


/*TDS-1019 & TDS-1174 - Have to override an inline height on this element */
/* This appears to be causing other issues, I'm worried it will eventually need to be removed */
.yui-skin-sam #systemDialog.yui-panel .bd{
  min-height: 12em;
}
/* TDS-1267 - above change is causing issues inside of SuperZoom, canceling it. Hoping this is enough to fix the issue */
.TDS_PS_L5.yui-skin-sam #systemDialog.yui-panel .bd,
.TDS_PS_L6.yui-skin-sam #systemDialog.yui-panel .bd,
.TDS_PS_L7.yui-skin-sam #systemDialog.yui-panel .bd,
.TDS_PS_L8.yui-skin-sam #systemDialog.yui-panel .bd{
	min-height: 0em;
}

/*TDS-1275:  Video zoom issue */
.tool-video .video-js{
  width: 100%;
  height: 100%;
	/*Should work on all zoom levels*/
}
